@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #121212;
  color: rgb(236, 236, 236);
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 17px;
  font-weight: 500;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  color: rgb(236, 236, 236);
}

h4 {
  font-size: 14px;

}

p {
  font-size: 14px;
  color: grey;
}

li {
  font-size: 14px;
  color: grey;
  margin-bottom: 5px;

}
ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Apply your desired styles for list items */
ul {
  list-style-type: disc; /* Use 'disc' for bullets */
  margin-left: 1.5em; /* Adjust the margin as needed */
}

.hoverable {
  transition: transform 0.3s ease-in-out;
}

.hoverable:hover {
  transform: scale(1.1);
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(26, 26, 26, 0.9);
}

.hoverable-image {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.scrolling .hoverable-image {
  opacity: 0.5;
}

.hoverable-div {
  transition: transform 0.3s ease-in-out;
  
}

.hoverable-div:hover {
  transform: scale(1.04);
}

::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the thumb */
  border-radius: 10px; /* roundness of the thumb */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* color of the track */
}

/* .fade-in-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
} */
